.text-component-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.text-subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 0 !important;
}

.text-component {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  margin-bottom: 0 !important;
}
