.carousel {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.carousel-scroll {
  display: flex;
  padding: 0;
  overflow-x: auto;
  scroll-behavior: smooth;
  will-change: scroll-position;
  height: 100%;
}

/* Customize scrollbar */
.carousel-scroll::-webkit-scrollbar {
  height: 2px;
}

.carousel-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.carousel-scroll::-webkit-scrollbar-thumb {
  background: var(--color-inactive);
  border-radius: 2px;
}

.carousel-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

.carousel-item {
  flex: 0 0 auto;
  width: fit-content;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: var(--transition-fast);
  border: none;
  border-radius: 0;
}

.carousel-item img {
  width: auto;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
  border-radius: 0;
}
